*{
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

body{
    background-color: #fff;
    font-family: 'Kanit';
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    zoom: 0.9;
   
}

.side-menu{
    position: fixed;
    background: #59A0A4;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px 30px 20px;
}

.side-menu .logo{
    width: 50px;
    height: 50px;
    margin: 0.5rem 0rem 1rem 0.5rem;
    overflow: hidden;
    display: inline-block;
}

.side-menu .logo img{
    max-width: 100%;
    max-height: 100%;
    width:65px;
    position: absolute;
    top:33px;
    left:20px;
}

.side-menu .main-menu .menu-item{
    background: rgb(134, 183, 185);
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    font-weight: 600;
    margin-top: 0.5rem;
    cursor: pointer;
}

.side-menu .main-menu .menu-item.active{
    background: #fff;
    border-radius: 30px;
    color: #000;
}

.side-menu .main-menu{
    margin: 5px 0;
    position: relative;
    max-height: 250px;
    overflow-y: hidden;
    overflow-x: hidden;
}
/* not required any more */
.side-menu.inactive .main-menu{
   
}

.side-menu .main-menu .menu-item .menu-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.divider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #333;
}

.container{
    margin-left: 250px;
    transition: margin-left .2s ease-in;
    padding: 0 50px 50px 50px ;
    box-sizing: border-box;
}
.top-section{
    display: flex;
    align-items: center;
    
}
.side-name{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: -0.5rem;
}
.side-text{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1.25rem;
}
.side-brand{
    padding-left: 0.7rem ;
    padding-bottom: 1rem;
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b7d5d6;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #59A0A4;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}